.profile{
  display: flex;
  background-color: rgb(193,190,255);
  flex-direction: column;
  align-items: center;
  gap:35px;
  font-family: "Gill Sans", sans-serif;
  color : #a91732;

  h1{
    color: #7c0896;
    font-size: 30px;
  }

  .middle{
    display: flex;
    flex-direction: row;

    gap:100px;

    .Info{
      display: flex;
      flex-direction: column;
      gap:10px;
      span{
        font-size: 20px;
      }
    }

    .childList{
      height: 20vh;
      width: 15vw;
      border-style: solid;
      display: flex;
      flex-direction: column;
      .clist{
        cursor:pointer;
      }
    }
    .petList{
      height: 20vh;
      width: 15vw;
      border-style: solid;
      display: flex;
      flex-direction: column;
      .plist{
        cursor:pointer;
      }
    }
    .scheduleList{
      height: 20vh;
      width: 15vw;
      border-style: solid;
      display: flex;
      flex-direction: column;
      .mlist{
        cursor:pointer;
      }
    }
  }

  .down{
    display: flex;
    flex-direction: column;
    gap:30px;
    button{
      font: italic 1.2em "Fira Sans", serif;
      width: 200px;
      height: 30px;
      border:none;
      color: #8c031d;
      background-color: #dcd3da;
      cursor:pointer;
      border-radius: 3px;
    }
  }
}